button {
  border: none;
  background: none;
  cursor: pointer;
}

textarea:focus,
input:focus,
select:focus {
  outline: none !important;
}

.overflow-hidden {
  overflow: hidden;
}

/* navbar */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: #ffffff;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.88) 0%
  );
  animation-name: example;
  animation-duration: 1s;
  transition: top 500ms ease-in;
  box-shadow: 0px 0px 1px rgb(255, 255, 255);
  border-bottom: 0.1px solid #4d4d4d;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f3f3", endColorstr="#404040", GradientType=1);
}

@keyframes example {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}
.site-header {
  z-index: 99;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f3f3", endColorstr="#404040", GradientType=1);
}

.Top-nav {
  border-bottom: 0.8px solid #000000;
}
.Top-nav .top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Top-nav .top-nav a img {
  padding: 5px 0;
  height: 60px;
}
.Top-nav .top-nav nav {
  display: flex;
  gap: 30px;
}
.Top-nav .top-nav nav .nav-links {
  position: relative !important;
}
.Top-nav .top-nav nav .nav-links li {
  position: relative !important;
  display: inline;
  padding: 0 20px;
}
.Top-nav .top-nav nav .nav-links li a {
  color: #000000;
  font-weight: 300;
}
.Top-nav .top-nav nav .nav-button li {
  list-style: none !important;
  display: inline;
  padding: 0 5px;
  margin: 0 5px;
}
.Top-nav .top-nav nav .nav-button li:first-child {
  border-right: 1px solid #4d4d4d;
}
.Top-nav .top-nav nav .nav-button li .login-btn {
  line-height: 0;
  color: #000000;
}
.Top-nav .top-nav nav .nav-button li .favoriate-btn {
  color: #e2000f;
}
.Top-nav .top-nav nav .nav-button li .favoriate-btn:hover {
  color: #000000;
}
.Top-nav .top-nav nav .nav-button li .cart-btn {
  color: #e2000f;
  position: relative !important;
}

.Top-nav .top-nav nav .nav-button li .cart-btn span {
  position: absolute;
  top: -7px;
  right: -5px;
  height: 15px;
  width: 15px;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-size: 13px;
}
.Top-nav .top-nav nav .nav-button li .cart-btn:hover {
  color: var(--secondary);
}
.Top-nav .top-nav nav .search-form {
  border-bottom: 0.1px solid #000000;
}
.Top-nav .top-nav nav .search-form input {
  background-color: transparent !important;
  padding: 0 0 6px 10px;
  border: none !important;
  outline: none !important;
}
.Top-nav .top-nav nav .search-form input .search-btn {
  background: none !important;
  outline: none !important;
  border: none !important;
}

.product-link {
  position: relative !important;
}

.product-dropdown {
  position: absolute;
  top: 30px;
  display: none;
  left: 0 !important;
  position: absolute;
  z-index: 100000000000000000 !important;
  background-color: #fff;
}
.product-dropdown li {
  display: block !important;
}

.product-link:hover .product-dropdown {
  display: block;
}

#toggleNav2 {
  position: relative !important;
}

#dropDown2 {
  position: absolute !important;
  display: none;
  top: 40px;
  width: 200px;
  z-index: 10000000000000000000000000000000000 !important;
  background-color: #fff;
  border: 1px solid #cccccc;
}

#dropDown2 li {
  padding: 5px !important;
  display: block !important;
  border-bottom: 1px solid #cccccc;
}
#dropDown2 li:first-child {
  border-right: none !important;
}

#dropDown2 li a {
  color: #333;
  display: flex;
  gap: 10px;
  align-items: center;
}
#dropDown2 li a img {
  height: 40px;
}

.dropdown {
  z-index: 100000000000000000 !important;
  display: none;
  width: 90%;
  position: absolute !important;
  margin: 0 auto !important;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px;
}

#toggleNav:focus .dropdown-content {
  display: block;
}

#mainNav {
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#mainNav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 0;
  margin-bottom: 0;
}
#mainNav ul li {
  list-style: none !important;
  display: inline !important;
  padding: 15px 20px;
}
#mainNav ul li a {
  color: #000000;
}
#mainNav ul li:hover {
  background-color: #f1f1f1;
}
#mainNav ul li ul {
  padding: 0;
  margin: 0;
}
#mainNav ul li ul li {
  display: block !important;
}

.nav-ul {
  position: relative !important;
}

.nav-drop-down {
  z-index: 100000000000000000000000 !important;
  display: none;
  position: absolute;
  width: 1138px;
  height: 350px;
  overflow-y: scroll;
  top: 50px;
  right: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.nav-drop-down .nav-row {
  display: flex;
  gap: 10px;
  padding: 20px 20px;
}
.nav-drop-down .nav-row .nav-col {
  width: 16%;
}
.nav-drop-down .nav-row .nav-col ul {
  display: block !important;
}
.nav-drop-down .nav-row .nav-col ul li {
  padding: 5px 0 !important;
  display: block !important;
}
.nav-drop-down .nav-row .nav-col ul li:hover {
  background-color: transparent !important;
}
.nav-drop-down .nav-row .nav-col ul li a {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.nav-drop-down::-webkit-scrollbar-thumb {
  background-color: #e2000f;
  border-radius: 10px;
}

.nav-drop-down::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

.nav-item:hover .nav-drop-down {
  display: block;
}

#toggleIcon.rotate {
  transform: rotate(180deg);
}

#toggleIcontwo.rotate {
  transform: rotate(180deg);
}

.dropdown .drop-drown-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.dropdown .drop-drown-row .brand-navs {
  width: 30%;
}
.dropdown .drop-drown-row .brand-navs .search-form {
  width: 100%;
  padding: 10px;
  background-color: #f6fdff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.dropdown .drop-drown-row .brand-navs .search-form input {
  width: 80%;
  padding: 10px 20px;
  background: transparent !important;
  border: none;
  outline: none;
  border-bottom: 1px solid #1a1a1a;
}
.dropdown .drop-drown-row .brand-navs .brand-buttons {
  width: 100%;
}
.dropdown .drop-drown-row .brand-navs .brand-buttons button {
  width: 100%;
  margin: 10px 0;
  display: block;
  padding: 10px;
  border: 1px solid #e2000f !important;
  color: #000000 !important;
}
.dropdown .drop-drown-row .brand-navs .brand-buttons button:hover {
  background-color: #e2000f;
  color: #ffffff;
}
.dropdown .drop-drown-row .brand-navs .brand-buttons .active {
  background-color: #e2000f !important;
  color: #ffffff !important;
}
.dropdown .drop-drown-row .brand-navs .filter-links a {
  width: 100%;
  display: block;
  padding: 10px 20px;
  margin: 10px 0;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #e2000f;
}
.dropdown .drop-drown-row .brand-navs .filter-links .active {
  color: #fff;
  border: 1px solid #e2000f;
  background-color: #e2000f;
}
.dropdown .drop-drown-row .brand-navs .filter-links .active:hover {
  background-color: #e2000f;
  border: 1px solid #e2000f;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.dropdown .drop-drown-row .filter-search {
  width: 70%;
}
.dropdown .drop-drown-row .filter-search .brands-row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.dropdown .drop-drown-row .filter-search .brands-row .brands-col {
  width: 22.5%;
}
.dropdown .drop-drown-row .filter-search .brands-row .brands-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown .drop-drown-row .filter-search .brands-row .brands-col ul li {
  padding: 5px 0;
}
.dropdown .drop-drown-row .filter-search .brands-row .brands-col ul li a {
  color: #1a1a1a;
  font-size: 14px;
}
.dropdown .drop-drown-row .filter-search .brands-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.dropdown .drop-drown-row .filter-search .brands-row .brands {
  text-align: center;
  width: 14%;
}
.dropdown .drop-drown-row .filter-search .brands-row .brands img {
  border-radius: 6px;
  height: 100px;
  border: 1px solid #cccccc;
}

.filter-div {
  display: none;
}
.filter-div h4 {
  margin: 10px 0;
}

.filter-div.active {
  display: block;
}

.mobile-nav {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
    margin: auto;
  }
  .Top-nav {
    border-bottom: 0.8px solid #000000;
  }
  .Top-nav .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .Top-nav .top-nav a img {
    padding: 5px 0;
    height: 60px;
  }
  .Top-nav .top-nav nav {
    display: flex;
    gap: 20px;
  }
  .Top-nav .top-nav nav .nav-links li {
    padding: 0 5px;
  }
  .Top-nav .top-nav nav .nav-button li {
    margin: 0 2px;
  }
}
@media (max-width: 920px) {
  #mainNav {
    display: none;
  }
  .Top-nav {
    display: none;
  }
  .mobile-nav {
    width: 100%;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 2px 5px 0px rgb(163, 163, 163);
    padding: 0 10px;
  }
  .mobile-nav .mobile-row {
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-nav .mobile-row .mobile-logo {
    height: 30px !important;
  }
  .mobile-nav .mobile-row .mobile-links a {
    color: #e2000f;
    margin: 0 5px;
  }
  .mobile-nav .sidenav {
    z-index: 100000000000000000000 !important;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.3s;
    padding: 0;
  }
  .mobile-nav .sidenav .closebtn {
    margin: 10px;
    color: #ffffff;
    font-size: 36px;
  }
  .mobile-nav .sidenav .sidenav-links {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .mobile-nav .sidenav .sidenav-links a {
    color: #ffffff;
    margin: 0 5px;
  }
  .mobile-nav .sidenav .mobile-navbar {
    padding: 10px;
  }
  .mobile-nav .sidenav .mobile-navbar .mobile-btn {
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #4d4d4d;
  }
  .mobile-nav .sidenav .mobile-navbar .mobile-btn a {
    padding: 10px 30px;
    background-color: #ffffff;
    color: #000000;
  }
  .mobile-nav .sidenav .mobile-navbar nav ul {
    padding-left: 10px;
  }
  .mobile-nav .sidenav .mobile-navbar nav ul .nav-head {
    color: #ffffff;
    padding: 10px 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
  .mobile-nav .sidenav .mobile-navbar nav ul .nav-head:first-child {
    border-top: 1px solid transparent;
  }
  .mobile-nav .sidenav .mobile-navbar nav ul .nav-head a {
    color: #ffffff;
  }
  .mobile-nav .sidenav .mobile-navbar nav ul li {
    list-style: none;
    padding: 3px;
  }
  .mobile-nav .sidenav .mobile-navbar nav ul li a {
    color: #ffffff;
    font-size: 15px;
  }
} /*# sourceMappingURL=header.css.map */
