// mixin ----------------
@mixin d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
// section design
@mixin section-design {
    background-color: $light;
    padding: 40px 0;
    font-family: "Lato", sans-serif;
    box-shadow: 0px 10px 5px rgba(53, 53, 53, 0.35);
    margin-bottom: 10px;
}
// root -------------
$primary: #e2000f;
$secondary: #000000;
$light: #ffffff;
$grey: #4d4d4d;
$gold: #fbb03b;
$light-pink: #ffc9cc;

button {
    border: none;
    background: none;
    cursor: pointer;
}

textarea:focus,
input:focus,
select:focus {
    outline: none !important;
}
.overflow-hidden {
    overflow: hidden;
}

// body --------------------

/* navbar */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: $light;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.88) 0%);
    animation-name: example;
    animation-duration: 1s;
    transition: top 500ms ease-in;
    box-shadow: 0px 0px 1px rgb(255, 255, 255);
    border-bottom: 0.1px solid $grey;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f3f3", endColorstr="#404040", GradientType=1);
}

@keyframes example {
    0% {
        top: -100px;
    }

    100% {
        top: 0px;
    }
}

.site-header {
    z-index: 99;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f3f3", endColorstr="#404040", GradientType=1);
}

.Top-nav {
    border-bottom: 0.8px solid $secondary;
    .top-nav {
        @include d-flex;
        a {
            img {
                padding: 5px 0;
                height: 60px;
            }
        }
        nav {
            display: flex;
            gap: 30px;
            .nav-links {
                position: relative !important;
                li {
                    position: relative !important;
                    display: inline;
                    padding: 0 20px;
                    a {
                        color: $secondary;
                        font-weight: 300;
                    }
                }
            }
            .nav-button {
                li {
                    list-style: none !important;
                    display: inline;
                    padding: 0 5px;
                    margin: 0 5px;
                    &:first-child {
                        border-right: 1px solid $grey;
                    }
                    .login-btn {
                        line-height: 0;
                        color: $secondary;
                    }
                    .favoriate-btn {
                        color: $primary;
                        &:hover {
                            color: $secondary;
                        }
                    }
                    .cart-btn {
                        color: $primary;
                        &:hover {
                            color: var(--secondary);
                        }
                    }
                }
            }
            .search-form {
                border-bottom: 0.1px solid $secondary;
                input {
                    background-color: transparent !important;
                    padding: 0 0 6px 10px;
                    border: none !important;
                    outline: none !important;
                    .search-btn {
                        background: none !important;
                        outline: none !important;
                        border: none !important;
                    }
                }
            }
        }
    }
}
.product-link{
    position: relative !important;
}
.product-dropdown{
    position: absolute;
    top: 30px;
    display: none;
    left: 0 !important;
    position: absolute;
    z-index: 99999999999999999 !important;
    background-color: #fff;
    li{
        display: block !important;
    }
}
.product-link:hover .product-dropdown{
    display: block;
}

#toggleNav2{
    position: relative !important;
}
#dropDown2 {
    position: absolute !important;
    display: none;
    top: 40px;
    // left:0 !important;
    width: 200px;
    z-index: 9999999999999999999999999999999999 !important;
    background-color: #fff;
    border: 1px solid #cccccc;
}
#dropDown2 li {
    padding: 5px !important;
    display: block !important;
    border-bottom: 1px solid #cccccc;
    &:first-child{
        border-right: none !important;
    }
}
#dropDown2 li a {
    color: #333;
    display: flex;
    gap: 10px;
    align-items: center;
    img{
        height:40px;
    }
}

// dropdown
.dropdown {
    z-index: 99999999999999999 !important;
    display: none;
    width: 90%;
    position: absolute !important;
    margin: 0 auto !important;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 4px;
}
#toggleNav:focus .dropdown-content {
    display: block;
}

#mainNav {
    // display: none;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 0;
        margin-bottom: 0;
        li {
            list-style: none !important;
            display: inline !important;
            padding: 15px 20px;
            a {
                color: $secondary;
            }
            &:hover {
                background-color: #f1f1f1;
            }
            ul {
                padding: 0;
                margin: 0;
                li {
                    display: block !important;
                }
            }
        }
    }
}
.nav-ul {
    position: relative !important;
}
.nav-drop-down {
    z-index: 99999999999999999999999 !important;
    display: none;
    position: absolute;
    width: 1138px;
    height: 350px;
    overflow-y: scroll;
    top: 50px;
    right: 0;
    left: 0;
    background-color: $light;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    .nav-row {
        display: flex;
        gap: 10px;
        padding: 20px 20px;
        .nav-col {
            width: 16%;
            ul {
                display: block !important;
                li {
                    padding: 5px 0 !important;
                    display: block !important;
                    &:hover {
                        background-color: transparent !important;
                    }
                    a {
                        font-family: "Lato", sans-serif;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.nav-drop-down::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 10px;
}
.nav-drop-down::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}
.nav-item:hover .nav-drop-down {
    display: block;
}

#toggleIcon.rotate {
    transform: rotate(180deg);
}
#toggleIcontwo.rotate {
    transform: rotate(180deg);
}

//
.dropdown {
    .drop-drown-row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .brand-navs {
            width: 30%;
            .search-form {
                width: 100%;
                padding: 10px;
                background-color: #f6fdff;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                input {
                    width: 80%;
                    padding: 10px 20px;
                    background: transparent !important;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid #1a1a1a;
                }
            }
            .brand-buttons {
                width: 100%;
                button {
                    width: 100%;
                    margin: 10px 0;
                    display: block;
                    padding: 10px;
                    border: 1px solid $primary !important;
                    color: $secondary !important;
                    &:hover {
                        background-color: $primary;
                        color: $light;
                    }
                }
                .active {
                    background-color: $primary !important;
                    color: $light !important;
                }
            }
            .filter-links {
                a {
                    width: 100%;
                    display: block;
                    padding: 10px 20px;
                    margin: 10px 0;
                    color: rgb(0, 0, 0);
                    cursor: pointer;
                    background-color: transparent;
                    border: 1px solid $primary;
                }
                .active {
                    color: #fff;
                    border: 1px solid $primary;
                    background-color: $primary;
                    &:hover {
                        background-color: $primary;
                        border: 1px solid $primary;
                        color: rgb(255, 255, 255);
                        text-decoration: none;
                    }
                }
            }
        }
        .filter-search {
            width: 70%;
            .brands-row {
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
                .brands-col {
                    width: 22.5%;
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li {
                            padding: 5px 0;
                            a {
                                color: #1a1a1a;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .brands-row {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                .brands {
                    text-align: center;
                    width: 14%;
                    img {
                        border-radius: 6px;
                        height: 100px;
                        border: 1px solid #cccccc;
                    }
                }
            }
        }
    }
}

.filter-div {
    display: none;
    h4 {
        margin: 10px 0;
    }
}
.filter-div.active {
    display: block;
}
// mobile nav
.mobile-nav {
    display: none;
}
@media (max-width: 1200px) {
    .container {
        width: 95%;
        margin: auto;
    }
    .Top-nav {
        border-bottom: 0.8px solid $secondary;
        .top-nav {
            @include d-flex;
            a {
                img {
                    padding: 5px 0;
                    height: 60px;
                }
            }
            nav {
                display: flex;
                gap: 20px;
                .nav-links {
                    li {
                        padding: 0 5px;
                    }
                }
                .nav-button {
                    li {
                        margin: 0 2px;
                    }
                }
            }
        }
    }
}
@media (max-width: 920px) {
    #mainNav {
        display: none;
    }
    .Top-nav {
        display: none;
    }
    .mobile-nav {
        width: 100%;
        margin: 0 auto;
        display: block;
        box-shadow: 0px 2px 5px 0px rgba(163, 163, 163, 1);
        padding: 0 10px;
        .mobile-row {
            padding: 10px 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .mobile-logo {
                height: 30px !important;
            }
            .mobile-links {
                a {
                    color: $primary;
                    margin: 0 5px;
                }
            }
        }
        .sidenav {
            z-index: 99999999999999999999 !important;
            height: 100vh;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: $secondary;
            overflow-x: hidden;
            overflow-y: scroll;
            transition: 0.3s;
            padding: 0;
            .closebtn {
                margin: 10px;
                color: $light;
                font-size: 36px;
            }
            .sidenav-links {
                position: absolute;
                top: 10px;
                right: 20px;
                a {
                    color: $light;
                    margin: 0 5px;
                }
            }
            .mobile-navbar {
                padding: 10px;
                .mobile-btn {
                    padding-bottom: 20px;
                    width: 100%;
                    text-align: center;
                    border-bottom: 1px solid $grey;
                    a {
                        padding: 10px 30px;
                        background-color: $light;
                        color: $secondary;
                    }
                }
                nav {
                    ul {
                        padding-left: 10px;
                        .nav-head {
                            color: $light;
                            padding: 10px 0;
                            border-top: 1px solid grey;
                            border-bottom: 1px solid grey;
                            &:first-child {
                                border-top: 1px solid transparent;
                            }
                            a {
                                color: $light;
                            }
                        }
                        li {
                            list-style: none;
                            padding: 3px;
                            a {
                                color: $light;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
